body {
    margin: 0;
    padding: 0;
    background-color: var(--pri-accent-color-light);
    color: var(--pri-accent-color-lighter);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

p, li, div {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    border: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.navbar ul {
    background-color: var(--pri-color);
    z-index: 50; 
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul li {
    float: left;
    margin: 10px;
}

.navbar ul li a {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1px; 
    background-color: var(--pri-color);
    border-radius: 15%;
    color: var(--pri-accent-color-lighter);
    transition: background-color 0.5s ease-out 0.5s;
    transition: color 0.2s ease-out 0.2s;
}

.navbar ul li a:hover {
    background-color: var(--comp-accent-color-lighter);
    border-radius: 15%;
    transform: translateY(-3px);
    color: var(--comp-accent-color-darker);
    transition: transform 0.2s ease-out 0.2s;
}

.navbar ul li button, #submit-button, #ok-button {
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    background-color: var(--pri-color);
    border-color: var(--pri-accent-color-dark);
    color: var(--pri-accent-color-lighter);
    transition: background-color 0.5s ease-out 0.5s;
    transition: border-color 0.5s ease-out 0.5s;
    transition: color 0.2s ease-out 0.2s;
}

.navbar ul li button:hover, #submit-button:hover, #ok-button:hover {
    background-color: var(--comp-accent-color-lighter);
    transform: translateY(-3px);
    border-color: var(--comp-accent-color-darker);
    color: var(--comp-accent-color-darker);
    transition: transform 0.2s ease-out 0.2s;
}

.my-contacts {
    background-color: var(--pri-color);
    padding: 20px;
    margin: 50px;
    text-align: left;   
}

.contacts-list .socials-icons a .fa-brands {
    color: var(--pri-accent-color-lighter);
    margin: 10px;
    margin-bottom: 0px;
    transition: color 0.2s ease-out 0.2s;
}

.contacts-list .socials-icons a:hover .fa-brands {
    color: var(--comp-accent-color-lighter);
    transform: translateY(-3px);
    transition: transform 0.2s ease-out 0.2s;
}

.contacts-list {
    text-align: left;
}

#contact-form {
    margin-bottom: 50px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

#name, #email, #message {
    background-color: var(--pri-accent-color-lighter);
    border: none;
    outline: none;
    padding-left: 10px;
}

#submit-button {
    margin-top: 5px;
}

.contacts-list .socials-icons a .fa-brands {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
}

.my-modal {
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    position: fixed;
    z-index: -1;      
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
}

.my-modal.visible {
    opacity: 1;
    z-index: 1000;
}

.modal-container {
    background-color: var(--pri-color);
    text-align: center;
    border-radius: 5px;
}

#ok-button {
    width: 100px;
}

/* Dark mode styles */
.dark-mode {
    background-color: var(--pri-accent-color-darker);
    color: var(--pri-color);
}

.dark-mode .navbar ul {
    background-color: var(--pri-accent-color-dark);
}

.dark-mode .navbar ul li a {
    background-color: var(--pri-accent-color-dark);
    color: var(--pri-color);
}

.dark-mode .navbar ul li a:hover {
    background-color: var(--comp-color);
    color: var(--comp-accent-color-lighter);
}

.dark-mode .navbar ul li button,
.dark-mode #submit-button,
.dark-mode #ok-button  {
    background-color: var(--pri-accent-color-dark);
    border-color: var(--pri-accent-color-light);
    color: var(--pri-color);
}

.dark-mode .navbar ul li button:hover,
.dark-mode #submit-button:hover,
.dark-mode #ok-button:hover {
    background-color: var(--comp-color);
    border-color: var(--comp-accent-color-lighter);
    color: var(--comp-accent-color-lighter);
}

.dark-mode .my-contacts {
    background-color: var(--pri-accent-color-dark);
}

.dark-mode .contacts-list .socials-icons a .fa-brands {
    color: var(--pri-color);
}

.dark-mode .contacts-list .socials-icons a:hover .fa-brands {
    color: var(--comp-color);
}

.dark-mode #name, 
.dark-mode #email, 
.dark-mode #message {
    background-color: var(--pri-color);
}

.dark-mode .modal-container {
    background-color: var(--pri-accent-color-dark);
    text-align: center;
    border-radius: 5px;
}

:root {
    /* Normal Colors */
    --pri-color: #c5586a;
    --comp-color: #539438;

    /* Accent Colors */
    --pri-accent-color-lighter: #d2cff5;
    --pri-accent-color-light: #d66d7f;
    --pri-accent-color-dark: #77192A;
    --pri-accent-color-darker: #4F0714;
    --comp-accent-color-lighter: #A2DD89;
    --comp-accent-color-light: #71B753;
    --comp-accent-color-dark: #316D17;
    --comp-accent-color-darker: #1A4807;
}